/*
#c9cba3 - soft green
#e26d5c - salmon
#ffe1a8 - yellow
#723d46 - burgandy
#699f1a - dark green
*/
html {
    box-sizing: border-box;
}
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
main{
    background: #ffffff;
    color: #000000;
    font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}
.sidebar{
    width: 30%;
    text-align: center;
    padding-top: 10px;
}
.sidebar h2{
    font-size: 26px;
    white-space: pre-line;
}
.list {
    width: 30%;
    font-size: 16px;
}
.list ul{
    padding: 10px;
}
.list li{
    padding: 10px;
    white-space: pre-line;
    border-bottom: solid thin #000000;
}
.list li:nth-last-child(1){
    border-bottom: none;
}
.list span{
    color: purple;
    cursor: pointer;
    font-size: 20px;
}
.list a{
    text-decoration: none;
}
.list span:hover{
    color: #c9cba3;
}
.map{
    border-left: 1px solid #000000; /*Take out - border: thin solid red; once you are done*/
    position: absolute;
    left: 30%;
    top: 13px;
    /* The height is 400 pixels */
    height: 100%;
    /* The width is the width of the web page */
    width: 66.6666%;
    border: thin solid #000000;
}