/*'Source Sans Pro', sans-serif;*/
/*'Alegreya Sans', sans-serif;*/
/*
#8eac76 - green
#e26d5c - salmon
#ffe1a8 - yellow
#723d46 - burgandy
#699f1a - dark green
*/

.row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 8rem;
}

.row div {
    display: inline-block;
    max-width: 30%;
    position: relative;
}

.row img {
    height: 250px;
    width: 250px;
    margin: 1em;
    object-fit: fill;
}

.row button {
    position: absolute;
    bottom: -50px;
    right: 1em;
}



.menu-bar a,
.menu-bar a{
    color: #000;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}
.menu-bar a:hover {
    color: #e26d5c;
    cursor: pointer;
}
#main-menu {
    position: absolute;
    top: 1.9em;
    text-align: center;
    padding-left: 20%;
    width: 86%;
}
.menu-bar li {
    display: inline-block;
}
#filter {
    color: black;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 2em;
}
#filter:hover {
    color: #e26d5c;
}
#cart {
    color: black;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 1em;
}
#cart:hover {
    color: #e26d5c;
}

.menu-section-main h2 {
    padding-left: 1.5em;
    margin-bottom: 0;
    font-size: 1.5em;
}
